
body{
    background-image:  url("dddd-min.jpg");
    width: 100%;
	height: 700px;
    padding-top: 60px;
}
.topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  img{
      position: relative;
      left:60px;
  }
 .p1 {
    margin-left: 900px;
    margin-top: 60px;
 } 